root = true

[*]
# The files are utf-8 encoded
charset = utf-8
# Use tabs for indentation
# see https://alexandersandberg.com/articles/default-to-tabs-instead-of-spaces-for-an-accessible-first-environment/
indent_style = tab
# Use Unix line endings
end_of_line = lf
# No whitespace at the end of line
trim_trailing_whitespace = true
# A file must end with an empty line - this is good for version control systems
insert_final_newline = true

[{Makefile*,**.mk}]
# Use tabs for indentation (Makefiles require tabs)
indent_style = tab
indent_size = tab_width
tab_width = 4

# use 4 space indentation to stay inline with https://github.com/actions/virtual-environments/releases
# so that when diffing and merging, I can ignore the whitespace/space/tab changes
[*.{json,ps1}]
indent_style = space
indent_size = tab_width
tab_width = 4

# 2 tab indentation
[*.pkr.hcl]
indent_size = tab_width
tab_width = 2
