root = true

[*]
# The files are utf-8 encoded
charset = utf-8
# Use tabs for indentation
indent_style = tab
# Use 2 spaces as indent
indent_style = 2
# Use Unix line endings
end_of_line = lf
# No whitespace at the end of line
trim_trailing_whitespace = true
# A file must end with an empty line - this is good for version control systems
insert_final_newline = true

[{Makefile*,**.mk}]
# Use tabs for indentation (Makefiles require tabs)
indent_style = tab
indent_size = 4